* {
    margin: 0;
    padding: 0;
}


html,
body {
    overflow: hidden;
}

/*
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    display: none;
}*/

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100%; 
    outline: none;
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*
    background: #b9d3ff;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    background-image: url('https://img.freepik.com/free-vector/abstract-perspective-grid-line-pattern-white-background_1017-56022.jpg?t=st=1735301522~exp=1735305122~hmac=038eadc56ac00cf9cbcd18585d9217db85947f4773e5c2671a2c652a79981815&w=1060'), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.overlay h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.overlay h2 {
    color: rgba(0, 0, 0, 0.8);
}

.overlay button {
    padding: 15px 30px;
    margin: 10px; 
    font-size: 2em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    /*background-color: #007bff;*/
    /*background-color: rgba(0, 123, 255, 0.3);*/
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    transition: background-color 0.3s ease;
}

.overlay button:hover {
    background-color: #0056b3;
}

.overlay h1, 
.overlay h2,
.overlay button {
    text-align: center;
}

.clickable {
    color:#00000f;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    margin: 10px;
    font-size: 2em;
}

.popup {
    color: black;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(0,0,0,0.9);
    border-radius: 10px;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    z-index: 15;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.hidden {
    display: none;
}

#closeInstructions {
    background-color: rgba(0,0,0,0.9);
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#closeInstructions:hover {
    background-color: #0077cc;
}


/* Mobile Styling */
@media (max-width: 768px) {
    .overlay h1 {
        font-size: 1.5em;
    }

    .overlay h2 {
        font-size: 0.9em;
    }

    .overlay button {
        font-size: 1em;
        width: 35%;
        font-size: 1em;
        padding: 15px;
    }

    .overlay button:hover {
        background-color: #0056b3;
    }

    .clickable {
        font-size: 1em;
    }
    .popup {
        font-size: 15px;
        width: 50%;
    }
}








